<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	<bean id="UserDao" class="dao.impl.UserDaoImpl" />
	<bean id="CardDao" class="dao.impl.CardDaoImpl" />
	<bean id="PaymentDao" class="dao.impl.PaymentDaoImpl" />
	<bean id="ActivityDao" class="dao.impl.ActivityDaoImpl" />
	<bean id="AttendanceDao" class="dao.impl.AttendanceDaoImpl" />
	<bean id="EmployeeDao" class="dao.impl.EmployeeDaoImpl" />
	<bean id="RegisterService" class="service.impl.RegisterServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao" />
		</property>
		<property name="CardDao">
			<ref bean="CardDao" />
		</property>
	</bean>
	<bean id="CardService" class="service.impl.CardServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao" />
		</property>
		<property name="CardDao">
			<ref bean="CardDao" />
		</property>
		<property name="PaymentDao">
			<ref bean="PaymentDao" />
		</property>
		<property name="ActivityDao">
			<ref bean="ActivityDao" />
		</property>
		<property name="AttendanceDao">
			<ref bean="AttendanceDao" />
		</property>
	</bean>
	<bean id="StaffService" class="service.impl.StaffServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao" />
		</property>
		<property name="CardDao">
			<ref bean="CardDao" />
		</property>
		<property name="EmployeeDao">
			<ref bean="EmployeeDao" />
		</property>
		<property name="ActivityDao">
			<ref bean="ActivityDao" />
		</property>
	</bean>
	<bean id="ManagerService" class="service.impl.ManagerServiceImpl">
		<property name="CardDao">
			<ref bean="CardDao" />
		</property>
		<property name="EmployeeDao">
			<ref bean="EmployeeDao" />
		</property>
		<property name="UserDao">
			<ref bean="UserDao" />
		</property>
		<property name="ActivityDao">
			<ref bean="ActivityDao" />
		</property>
	</bean>
	<bean id="RegisterAction" class="action.RegisterAction">
		<property name="RegisterService">
			<ref bean="RegisterService" />
		</property>
	</bean>
	<bean id="LoginAction" class="action.LoginAction">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
	<bean id="ChangeInfoAction" class="action.ChangeInfoAction">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
	<bean id="EmployeeLoginAction" class="action.EmployeeLoginAction">
		<property name="StaffService">
			<ref bean="StaffService" />
		</property>
		<property name="ManagerService">
			<ref bean="ManagerService" />
		</property>
	</bean>
	<bean id="MakeActivityAction" class="action.MakeActivityAction">
		<property name="StaffService">
			<ref bean="StaffService" />
		</property>
	</bean>
	<bean id="ShowActivitiesAction" class="action.ShowActivitiesAction">
		<property name="StaffService">
			<ref bean="StaffService" />
		</property>
	</bean>
	<bean id="ShowCardsAction" class="action.ShowCardsAction">
		<property name="StaffService">
			<ref bean="StaffService" />
		</property>
	</bean>
	<bean id="ChangeActivityAction" class="action.ChangeActivityAction">
		<property name="ActivityDao">
			<ref bean="ActivityDao" />
		</property>
	</bean>
	<bean id="SeePaymentAction" class="action.SeePaymentAction">
		<property name="CardDao">
			<ref bean="CardDao" />
		</property>
	</bean>
	<bean id="ScheduleActivityAction" class="action.ScheduleActivityAction">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
	<bean id="UnScheduleActivityAction" class="action.UnScheduleActivityAction">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
	<bean id="SeeActivityAction" class="action.SeeActivityAction">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
	<bean id="SeeOKActivityAction" class="action.SeeOKActivityAction">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
	<bean id="ShowUserChartsAction" class="action.ShowUserChartsAction">
		<property name="ManagerService">
			<ref bean="ManagerService" />
		</property>
	</bean>
	<bean id="ShowActivityChartsAction" class="action.ShowActivityChartsAction">
		<property name="ManagerService">
			<ref bean="ManagerService" />
		</property>
	</bean>
	<bean id="ReduceMoneyListener" class="listener.ReduceMoneyListener">
		<property name="CardService">
			<ref bean="CardService" />
		</property>
	</bean>
</beans>